<!DOCTYPE html>
<html>
  <head>
    <title>Omrails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
        <div class="navbar">
          <div class="nav-link"><%= link_to 'home', root_path %></div>
          <div class="nav-link"><%= link_to 'about', about_path %></div>
          <div class="nav-link"><%= link_to 'contact us', contact_us_path %></div>  
      </div>
      </div>
    

    <%= yield %>
    <hr />
    <small>copyright &copy; example@example.com</small>
  </body>
</html>
